<h2>Posts component
{{#if activePost}}
    (Last active post: {{activePost.title}})
{{/if}}
</h2>

{{#each posts as |currentPost|}}
    {{posts-list/post-item 
        showBody=(eq currentPost activePost)
        post=currentPost 
        onPostClick=(action 'onPostSelect')
        }}
{{/each}}
{{yield}}
