<h2>Posts component</h2>
{{#if activePost}}
    <strong>Last active post: {{activePost.title}}</strong>
{{/if}}

{{#each posts as |currentPost|}}
    {{posts-list/post-item 
        showBody=false
        post=currentPost 
        onPostClick=(action 'onPostSelect')
        }}
{{/each}}
{{yield}}
