<div class="ui menu">
  {{#link-to 'index' class='header item'}}Upsilon IT: Ember starter{{/link-to}}
  {{#link-to 'users' class="item"}}Users{{/link-to}}
  {{#link-to 'posts' class="item"}}Posts{{/link-to}}
</div>
<div class="main ui container">
  {{outlet}}
</div>

