<div class="ui menu">
  <div class="header item">Upsilon IT: Ember starter</div>
  {{#link-to 'users' class="item"}}Users{{/link-to}}
  {{#link-to 'posts' class="item"}}Posts{{/link-to}}
</div>
<h2 id="title">Welcome to Ember</h2>

{{outlet}}
